__pycache__
gen/go/google/
gen/go/protoc-gen-openapiv2/
gen/go/wasmjs/
coverage.out
__debug*
snapshot*
.DS_Store
buf.lock
.data
locallinks
data
bin
logs
dist
node_modules
storage
.env
.env.dev

# Templar lock file (machine-specific)
web/templates/templar.lock
