<!-- lilbattle/web/templates/BasePage.html -->
{{# namespace "GoalBase" "@goapplib/BasePage.html" #}}
{{# include "./Header.html" #}}
{{# include "./components/AdScript.html" #}}

{{ define "LilBattleExtraHeadSection" }}
    <!-- Favicons -->
    <link rel="icon" type="image/svg+xml" href="/static/favicons/favicon.svg">
    <link rel="icon" type="image/x-icon" href="/static/favicons/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
    <link rel="manifest" href="/static/favicons/site.webmanifest">
    <!-- Ad Network Script (only loads when ads enabled and network ID configured) -->
    {{ template "AdScript" }}
    <meta name="google-adsense-account" content="ca-pub-2973452493146773">
{{ end }}

{{ define "LilBattleHeaderSection" }}
    {{ if not .CustomHeader }}
    <!-- Header Block -->
    <div class="print:hidden sticky left-0 top-0 z-20 border-b border-gray-200 dark:border-gray-700">
        {{ template "GoalBase:Header" .Header }}
    </div>
    <!-- Header Actions Drawer (sibling of header, not child) -->
    {{ template "HeaderActionsDrawer" . }}
    {{ end }}
{{ end }}

{{# extend "GoalBase:BasePage" "BasePage"
           "GoalBase:ExtraHeadSection" "LilBattleExtraHeadSection"
           "GoalBase:HeaderSection" "LilBattleHeaderSection"
           "GoalBase:BodySection" "BodySection"
           "GoalBase:PostScriptsSection" "PostBodySection" #}}
