<!-- weewar/web/templates/BasePage.html -->
{{# namespace "GoalBase" "goapplib/BasePage.html" #}}
{{# include "./Header.html" #}}

{{ define "WeewarHeaderSection" }}
    {{ if not .CustomHeader }}
    <!-- Header Block -->
    <div class="print:hidden sticky left-0 top-0 z-20 border-b border-gray-200 dark:border-gray-700">
        {{ template "GoalBase:Header" .Header }}
    </div>
    <!-- Header Actions Drawer (sibling of header, not child) -->
    {{ template "HeaderActionsDrawer" . }}
    {{ end }}
{{ end }}

{{# extend "GoalBase:BasePage" "BasePage" "GoalBase:HeaderSection" "WeewarHeaderSection" "GoalBase:BodySection" "BodySection" "GoalBase:PostScriptsSection" "PostBodySection" #}}
